.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.container .rowWrapper {
  width: 100% !important;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.transferContainer {
  width: 90%;
}