.imgItem {
    display: flex;
    flex-direction: row;
}


.payPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(50, 152, 215);

    p {
        color: white;
    }
}