.container {
  padding: 32px;
}

.roomContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: -moz-max-content;
  height: max-content;
}

.roomElement {
  display: flex;
  flex-direction: column;
  background-color: rgb(165, 255, 187);
  width: 300px;
  height: 128px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.roomElement:hover {
  border: 1px solid rgb(71, 71, 183);
}

.btnJoin {
  height: 32px;
}
.btnJoin:hover {
  cursor: pointer;
}

.btnCreate {
  height: 32px;
}
.btnCreate:hover {
  cursor: pointer;
}